.loginForm{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    position: relative;
    .button{
        position: absolute;
        bottom: 20px;
        right: 0;
        left: 0;
    }
    .label{

    }
}